---
layout: main.njk
seoimg: "/favicon.ico"
seodesc: "adventures made in PS and FL! i don't know what those stand for"
passivestyle: "<link rel='stylesheet' href='/resc/style/13337.css' media='screen' type='text/css' />"
---
    <style>	
	.body{
	padding: 0;
	}
	.leeet:link{
color: #00ff00;
}

	.leeet:visited{
color: green;
}

	.leeet:hover{
color: #66ff99;
}

	.leeet:active{
color: #e6ffee;
}	

.latestpages{
text-align: right;
}

.innerpages{
text-align: left;
overflow: auto; 
border-style: none none solid solid; 
background-color: #e6ffe6;
height: 60vh;
}
    </style>
	
	<div class="latestpages">
		<div class=innerpages>
			<h2>latest pages</h2>
						{% for item in leeet %}
							{% if item.num  >= 41 %}
								<a2>&gt; <a href=a/13337/{{item.num}}/>{{item.title}}</a> page {{item.num}}, {{item.date}}</a2> <br>
							{%endif%}
						{% endfor %}
		</div>
		<div style="float: right;">
			<a href=/a/13337/all/><h2>all pages</h2></a>
			<a href=/a/13337/map/><h2>go to map?</h2></a>
		</div>
	</div>
	
	<!-- box for current adventure -->
<div class="body" style='background-color: #000000; margin-left: 0; color: #ffffff; margin: unset; overflow-x: hidden; padding: 3px;'>
	<h1>13337</h1>
	<div class=imgdiv style='max-width: 600px;'>
		<img src=/a/13337/files/terminal.gif class=story>
		<img src=/a/13337/files/pages/00001.gif class=story>
	</div> 
	<p> </p>
	<br> <div style='float: left; display: block; width: 100%; text-align: left; margin-right: 6%; margin-bottom: 4vh;'><a2 class="next" id=nextlink>> </a2><a class="next leeet" id=nextlink href='/a/13337/2/' style='text-align:left;'>begin</a></div>
		<div style='display: block; height: 9vh'>
			  <div style='float: left; display: inline;'>
				<center>
					<div id=controlsdiv></div>
				</center>
			  </div>    
		<div id=whendiv style='float: bottom; display: inline;'>
			<div id=when style="float: right;">
				<a class=leeet href="javascript:alert('drawn by floase')">credits</a>
				<br><a2>13337 - page 1 - 7/7/24</a2>
			</div>
			<div style="float:left; text-align: left;">
				<br>
				<a class=leeet style="display: inline;" href="javascript:loadgame()">load game</a><a class=leeet>&nbsp;</a><a class=leeet style="display: inline;" href="javascript:deletegame()">whipe game</a>
			</div>
		</div>
	</div>
</div>

<script>
function loadgame(){
	if (localStorage.getItem("13337")){
		window.location.href="/a/13337/"+localStorage.getItem("13337")+"/";
		}
	else{
		alert("no save present for this adventure!! click \"save game\" to save your game");
	}
}

function deletegame(){
  
  if (confirm("deleting your saved game!") == true) {
  localStorage.removeItem("13337");
  }
 }
</script>