---
pagination:
  data: leeet
  size: 1
  alias: leeet
permalink: "a/13337/{{ leeet.num | slugify }}/"
tags: "leeet" 
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/resc/style/main.css' media='screen' type='text/css' />
	<link rel='stylesheet' href='/resc/style/13337.css' media='screen' type='text/css' />
	{% if leeet.title == 13337 %}
		<title id=htmltitle>PSFLA - 13337</title>
	{% elif leeet.title == "=->" %}
		<title id=htmltitle>13337 =-></title>
	{% else %}
		<title id=htmltitle>13337 > {{leeet.title | safe}}</title>
	{% endif %}
	
	<!-- Google / Search Engine Tags -->

	{% if leeet.title == 13337 %}
		<meta itemprop="name" content="PSFLA - 13337">
	{% elif leeet.title == "=->" %}
		<meta itemprop="name" content="13337 =->">	
	{% else %}
		<meta itemprop="name" content="13337 > {{leeet.title | safe}}">	
	{% endif %}
<meta itemprop="description" content="{{leeet.text}}">
<meta itemprop="image" content="https://psfla.net/a/13337/{{leeet.url}}">

<!-- ughhhhhhhhhhhhhhhhhhFacebook Meta Tags -->
<meta property="og:url" content="https://psfla.net/a/13337/{{leeet.url}}">
<meta property="og:type" content="website">

	{% if leeet.title == 13337 %}
		<meta property="og:title" content="PSFLA - 13337">
	{% elif leeet.title == "=->" %}
		<meta property="og:title" content="13337 =->">	
	{% else %}
		<meta property="og:title" content="13337 - {{leeet.title | safe}}">	
	{% endif %}
<meta property="og:description" content="{{leeet.text}}">
<meta property="og:image" content="https://psfla.net/a/13337/{{leeet.url}}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">

	{% if leeet.title == 13337 %}
		<meta name="twitter:title" content="PSFLA - 13337">
	{% elif leeet.title == "=->" %}
		<meta name="twitter:title" content="13337 =->">	
	{% else %}
		<meta name="twitter:title" content="13337 > {{leeet.title | safe}}">	
	{% endif %}
<meta name="twitter:description" content="{{leeet.text}}">
<meta name="twitter:image" content="https://psfla.net/a/13337/{{leeet.url}}">

	<script src="https://iframe.chat/scripts/main.min.js"></script>
	<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
	<script>
		window.RufflePlayer = window.RufflePlayer || {};
		window.RufflePlayer.config = {
			"wmode":"transparent",
			"preferredRenderer": "canvas",
			"quality":"low",
			"autoplay":"on",
			"unmuteOverlay":"hidden",
			"letterbox":"off",
			"showSwfDownload":true,
			"splashScreen":false,
			"menu": false,
			"allowFullscreen": false,
			"allowScriptAccess": true
		};
	</script>
  </head>
  <body style="margin:auto; text-align: center;">
		<div class=header>
					<div class=navtext> 
						{% for item in nav %}
							<a href={{ item.url }}>{{ item.name }}</a> <br>
						{% endfor %}
					</div>
				<a href=/><img src=/resc/img/psfla.png class=headerimg></a>
		</div>
	<h1 id=title style="max-width: 60%; margin: auto;">{{leeet.title|safe }}</h1>
	<div class=body>
	
		<div id=prepanel style="display:inline;">
		</div>
		<div id=panel style="display:inline;">
			{% if leeet.type == "chapter" %}
				<a href=../map#{{leeet.chapter}}> <img src=../files/title/{{leeet.chapter}}.gif></a>
			{% endif %}
			{% if leeet.length > leeet.num %}
				<img src=../files/terminal.gif>
			{% else %} 
				<a href=https://www.tumblr.com/psfla target=_blank><img src=../files/terminal2.gif></a>
			{% endif %} 
			{% if leeet.type == "image" or leeet.type == "chapter" %}
				<img src=../{{ leeet.url }}>
			{% elif leeet.type == "flash" %}
				<script src=/resc/scripts/swfobject.js defer>
				</script>
				<div id="swfwrapper" style="width: 100%; max-width: 600px; height: 450px; overflow: hidden; margin: auto; text-align: center;">
				<div id=swfdiv>

				</div>
				</div>		
			{% endif %}
		</div>
			<div id=text><p>{{leeet.text|safe }}</p></div>

			{% if leeet.length > leeet.num %}
				<div class=linkdiv id=linkdiv>
					<a2 class=next>&gt; <a class=next href=../{{ leeet.num | int  + 1 }}/>{{ leeet[leeet.num | int ].title|safe }}</a></a2>
				</div>
			{% endif %}
			
			<div style="float: left; display: inline;" id=evildiv> 
				{% if 1 < leeet.num %}
				<a href="../1/" class="13337">restart</a><a class="small 13337">&nbsp;</a> <a id=goback href="../{{leeet.num - 1}}/" class="13337">go back</a>
				{% endif %}
				<div id="controlsdiv">&nbsp;<a href="javascript:savegame();" onclick="">save game</a><a>&nbsp;</a> <a href="javascript:loadgame();">load game</a><a>&nbsp;</a> <a href="javascript:deletegame();">whipe game</a></div>
			</div>
			
			<div id="whendiv" style="float: right; float: bottom; display: inline;">
				<div id="when">
					<a id=creddiv href="javascript:alert('{{ leeet.cred }}')">credits</a>
					<br > <a2 id=pagething>13337 - page {{leeet.num}} - {{leeet.date}}</a2>
				</div>
			</div>
		<!-- the pagelimit is {{ leeet.length }} -->
		</div>
	</div>
	{% if leeet.length == leeet.num %}
	<p></p>
	<div id=lowerbit class=body>
		<div style="width: 100%; margin: auto; color: black; display: block;">
			<div style="width: 100%; float: right; background-color: #ffffff; text-align: left; border-radius: 3px; border-color: #ffffff; border-width:medium;">
				<p style="margin: 1%;">quickprompt</p>
				<iframe src='https://iframe.chat/embed?chat=quickprompt' id='chattable' width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
				<script>
				  chattable.initialize({
					stylesheet : "/resc/style/chattable.css"
				  });
				</script>
		</div>
	</div>
	{% endif %}
	<script src=/resc/scripts/swfobject.js defer></script>
	<script src=../files/reader.js></script>
	<script defer>
{% if leeet.type == "flash" %}
setTimeout( callbackFunction, 1000, "{{leeet.url}}");
{% endif %}
	</script>
  </body>
</html>